fastapi[all]
uvicorn[standard]
greenlet
gunicorn
celery
flower
redis
bcrypt
fastapi-cache2
prometheus-client
python-jose
python-dotenv
python-json-logger
sqlalchemy
asyncpg
alembic
fastapi-mail 
Jinja2
fastapi-versioning
pydantic_settings
sentry-sdk
sqladmin
pytest
pytest-asyncio